body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B9CD3;
    padding: 10px 20px;
    color: white;
}

header nav ul {
    list-style: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a.active {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 20px 0;
}

.hero h1 {
    margin: 0;
}

.history img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: 400px; 
    align-items: center;
}

.client-images,
.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

figure {
    text-align: center;
    width: 30%;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

article, section, footer {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4B9CD3;
    color: white;
}

footer .social-media a img {
    width: 25px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

footer .social-media a img:hover {
    transform: scale(1.1);
}
