nav {
    background-color: powderblue;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px gray;
}
nav a {
    color: rgb(58, 55, 55);
    display: block;
    padding: 10px;
}
h1 {
    color: black;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(101, 101, 101);
    box-shadow: 0 0 30px gray;
}
p {
    padding: 5px;
    
}
